<% content_for(:title) do -%><%=t :import_users %><% end -%>
<% content_for(:extracss) do -%>
    <%= stylesheet_link_tag 'observations/new',
                            "jquery/ui.tabs.css",
                            "jquery/ui.accordion.css" %>
    <style type="text/css" media="screen">
      #pageheader p{margin-bottom:0;}
      #tabs div .description.readable{margin-bottom:10px;}
      .buttonrow label{padding-top:9px;}
      .buttonrow label,
      .buttonrow .button,
      .buttonrow .text{margin-bottom:0;}
      #csv_import .description table td,
      #csv_import .description table th{border:1px solid #ddd;border-left:0 none;padding:0.5em;}
      #csv_import .description table th:first-child,
      #csv_import .description table td:first-child{border:1px solid #ddd;}
      #csv_import .description code{display:block;overflow:auto;font-size:larger;}
    </style>
<% end -%>
<div id="pageheader" class="column span-24">
  <div class="column span-12">
    <h2><%=t :import_users %></h2>
    <h3><a href="<%= CONFIG.import_help_url %>" target="_blank"><%=t :help %>!</a></h3>
  </div>
</div>

<div class="column span-24">
  <div id="tabs" class="ui-tabs">
    <div id="csv_import">
      <div class="readable description">
        <%=t :upload_a_csv_file_with_user %>
      </div>

      <div class="stacked">
        <%= form_tag(new_user_bulk_csv_path,
                     :id => 'new_bulk_form',
                     :class => 'clear observationform',
                     :multipart => true) do %>
            <div class="column field span-23 box">
              <div class="column span-4">
                <label for="upload_file"><%=t :upload_a_csv_file %></label>
              </div>
              <div class="last column span-12">
                <%= file_field 'upload', 'datafile' %>
              </div>
            </div>
            <div class="column span-16">
              <div class="buttonrow">
                <%= submit_tag t(:upload), :class => 'default button', "data-loading-click" => t(:importing) %>
              </div>
            </div>
        <% end %>
      </div>

      <div class="ui upstacked">
        <%= separator %>
        <h3><%= raw t(:rules_and_formatting) %></h3>
        <ol>
          <li><%=t :you_must_have_a_header_row %></li>
          <li><%=t :use_well_formed_csv %> </li>
          <li><%=t :dont_use_double_quotes %> </li>
          <li>
            <p class="ui"><%=t :we_can_only_understand_csv_in %>:</p>
            <table cellspacing="0" border="0" cellpadding="0">
              <tr>
                <th><%=t :user_name %></th>
                <th><%=t :email %></th>
                <th><%=t :import_users_locale %>*</th>
                <th><%=t :import_project_slug %>**</th>
              </tr>
              <tr>
                <td>text</td>
                <td>email</td>
                <td>text</td>
                <td>text</td>
              </tr>
            </table>

            <p class="ui"><%=t :here_are_3_examples %>:</p>
            <code>
              "Díaz Delgado, Susana",sdiaz_88@gmail.es,ca,projecte-col-legi-cami
              "Pérez García, Luis",lperez@yahoo.es,es,vegetacio-de-l-entorn-de-l-ins-princep-de-girona
              "Aceveda Garrido, Mª Luisa",mlacev@outlook.com,gl,cpifp-lorenzo-milani-2015-16-ano-internacional-unesco-de-leguminosas-y-camelidos
            </code>
            <p class="ui">* <%=t :import_users_locale_explain %></p>
            <p class="ui">** <%=t :import_users_project_slug_explain %></p>
          </li>
        </ol>
      </div>

    </div>
  </div>
</div>